.pageTitle {
  font-size: 1.5rem;
  line-height: 1.1;
  margin-bottom: var(--space-5);
}

.pageTitle a {
  color: inherit;
  text-decoration: none;
}

.pageTitle a:hover {
  text-decoration: underline;
}
