---
import styles from './SiteAbout.module.css';
---

<section class={styles.about}>
  <h2>Om Jazzkonserter.se</h2>
  <p>
    Av <a href="https://urre.me">Urban Sandén</a>. Nya konserter läggs till kontinuerligt. Besök också <a href="https://www.jazztips.se/">Jazztips.se</a>
  </p>
</section>
